[unit]
Description=Grafana
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --init \
    --user 0:0 \
    --name %n \
    -p 3000:3000 \
    -v "/var/lib/grafana:/var/lib/grafana" \
     grafana/grafana \
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target